<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite" parallel="classes">
    <test name="Tests">
        <classes>
            <class name="testNGTests.Activity1"/>
            <class name="testNGTests.Activity2"/>
            <class name="testNGTests.Activity3"/>
            <class name="testNGTests.Activity7"/>
            <class name="testNGTests.Activity5"/>
            <class name="testNGTests.Activity6"/>
        </classes>
    </test>
</suite>